#Searchbar {
    background-color: teal;
    padding-top: 10px;
    padding-bottom: 10px;
}

#weather {
    float: right;
    margin-right: 180px;
    border-radius: 100px,;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 25px;
    position: relative;
}

#city {
    padding-top: 5px;
    font-size: 20px;
}

header {
    font-size: 25px;
    font-weight: bold;
}

#searchbutton {
    background-color: blue;
    border-style: solid;
    font-size: 25px;
    border-radius: 100px;
}

#forecast {
    border-style: solid;
    border-color: black;
    float: left;
    width: 87%;
    border-width: thin;
    padding-bottom: 300px;
    margin-top: 30px;
}
